html {
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

header {
  background-color: #1b4c2e;
  padding: 1rem;
  color: #fff;
}

header ul.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 1rem;
}

header ul.nav li {
  margin: 0 1rem;
  font-size: 1.2rem;
}

header ul.nav a {
  text-decoration: none;
  color: #fff;
}

header ul.nav a:hover {
  text-decoration: underline;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: #1b4c2e;
  text-decoration: none;
}

footer {
  background-color: #89a19e;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* class cars_bottom_paginator in car_list.html */
.cars_bottom_paginator {
  background-color: rgb(221, 221, 221);
  text-align: center;
}
.cars_top_paginator {
  text-align: center;
}

/* class order_bottom_paginator in paginator_pages.html */
.order_bottom_paginator {
  background-color: rgb(221, 221, 221);
  text-align: center;
}
.order_top_paginator {
  text-align: center;
}

.carlist_content {
  text-align: left;
  padding-top: 10px;
}

.carlist_content a {
  color: rgb(88, 88, 88);
}

.carlist_content img {
  width: 20%;
}

.orderlist_content {
  text-align: left;
  padding-top: 10px;
}

.orderlist_content a {
  color: rgb(88, 88, 88);
}

form {
  padding: 0.5rem;
}

.model_cover {
  width: 40vh;
}

.profile_logo {
  order: 1; /* Change the order of the element */
}

.clear {
  clear: both;
  width: 60%;
}

.asd {
  list-style: none;
}