{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
  Welcome to {{ block.super }}
{% endblock title %}

{% block content %}
<h1>Car Detail</h1>
  <div class="container">
    <ul class="carlist_content">
      <li><strong>{% trans "Owner:"|capfirst %}</strong> {{ car.client }}</li>
      <li><strong>{% trans "Model:"|capfirst %}</strong> {{ car.model }}</li>
      <li><strong>{% trans "License Plate:"|capfirst %}</strong> {{ car.licence_plate }}</li>
      <li><strong>{% trans "VIN Code:"|capfirst %}</strong> {{ car.vin_code }}</li>
        {% if car.model.cover %}
          <img src="{{ car.model.cover.url }}">
        {% else %}
          <img src="{% static 'service/img/default_cover.jpg' %}">
        {% endif %}
    </ul>
  </div>
{% endblock %}
