{% extends 'base.html' %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
<h1>PTU12 Autoservice</h1>
<p>Welcome to Ren's Service!</p>
<p>Currently available:</p>
<ul>
    <li><strong>Cars:</strong> {{ cars }}</li>
    <li><strong>Total Services:</strong> {{ services }}</li>
    <li><strong>New services:</strong> {{ new_services }}</li>
    <li><strong>Processing services:</strong> {{ processing_services }}</li>
    <li><strong>Completed services:</strong> {{ completed_services }}</li>
    <li><strong>Canceled services:</strong> {{ canceled_services }}</li>
</ul>
{% endblock content %}
