{% extends 'base.html' %}
{% block title %}Welcome to {{ block.super }}{% endblock title %}
{% block content %}
  <h1>Service Orders</h1>
  <strong>Order #: </strong>{{ order.id }}<br>
  <strong>Car: </strong>{{ order.car }}<br>
  <strong>Date: </strong>{{ order.date }}<br><br>
  <strong>Order Entries:</strong>
  <ul>
    {% for entry in order.order_entries.all %}
      <li>
        {{ entry }} ${{ entry.price }}
        {% with entry_color=entry.get_color %}
          <span style="color: {{ entry_color }}">{{ entry.get_status_display }}</span>
        {% endwith %}
      </li>
    {% empty %}
      <li>No order entries found.</li>
    {% endfor %}
  </ul>
  <strong>Total Price: ${{ total_price }}</strong>
{% endblock %}
