{% extends 'base.html' %}
{% block title %} Welcome to {{ block.super }}{% endblock %}

{% block content %}
<h1>Orders</h1>
{% include 'includes/search.html' %}

{% if orders %}
{% include 'includes/paginator_nav.html' %}

  <div class="order_list">
    {% for order in orders %}
      <ul>
        <li>Order {{ order.id }} <a href="{% url 'order_detail' order.pk %}"></li>
        <li>Name: {{ order.car.customer }}</li>
        <li>Licence plate: {{ order.car }}</li>
        <li>Order date: {{ order.date }}</li></a>
      </ul>
    {% endfor %}
  </div>
  {% else %}
    <li>No orders found.</li>
{% endif %}
{% include 'includes/paginator_pages.html' %}
{% endblock %}
